{{>nav}}
    <link rel='stylesheet' href='/stylesheets/addreport.css' />

<div class="login-page" style="margin-top:0">
  {{!-- <div class="heading">
    <h2 class="hedaings">ADD REPORT</h2>
  </div> --}}
  <div class="form">
    <form class="login-form" action="/addReport" method="post">
      <input type="text" placeholder="username" value="{{data.name}}" name="name" readonly/>
      <select name="month" id="" style="width:100%;height:30px;border:none;background-color:rgb(150, 222, 222)178, 222, 222)">
        <option value="January">January</option>
        <option value="february">february</option>
        <option value="march">march</option>
        <option value="april">april</option>
        <option value="may">may</option>
        <option value="june">june</option>
        <option value="july">july</option>
        <option value="august">august</option>
        <option value="septmber">septmber</option>
        <option value="october">october</option>
        <option value="november">november</option>
        <option value="december">december</option>

      </select>

      <input type="number" placeholder="hours" name="hours"/>
      <input type="number" placeholder="publication" name="publication"/>
      <input type="number" placeholder="Return Visits" name="rv"/>
      <input type="number" placeholder="Byble study" name="study"/>
      <input type="number" placeholder="vedio" name="vedio"/>
      <input type="hidden" name="reportID" value="{{data.id}}" >
      <input type="hidden" name="category" value="{{data.category}}">
      <button>ADD REPORT</button>
    </form>
  </div>
</div>