<div class="login-page">
  <div class="heading">
    <h2 class="hedaings">JW REPORTS</h2>
  </div>
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" action="/login" method="post">
      <input type="text" placeholder="username" name="name"/>
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message"> <a href="#">jw publishers reports kaloor south</a></p>
    </form>
  </div>
</div>